.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; color: #000000 }
.highlight .c { color: #777777 } /* Comment */
.highlight .k { color: #0000cc; font-weight: bold } /* Keyword */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #998800 } /* Operator */
.highlight .p { color: #333333 } /* Punctuation */
.highlight .cm { color: #777777 } /* Comment.Multiline */
.highlight .cp { color: #777777 } /* Comment.Preproc */
.highlight .c1 { color: #777777 } /* Comment.Single */
.highlight .cs { color: #aa0000; font-style: italic } /* Comment.Special */
.highlight .ge { color: #880000; font-style: italic } /* Generic.Emph */
.highlight .kc { color: #0000cc; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #0000cc; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #0000cc; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #0000cc; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #0000cc; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #0000cc; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #008888; font-weight: bold } /* Literal.Number */
.highlight .na { color: #000000 } /* Name.Attribute */
.highlight .nb { color: #6600cc } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #000000 } /* Name.Decorator */
.highlight .ni { color: #000000 } /* Name.Entity */
.highlight .ne { color: #000000 } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #008800 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #000000 } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #998800 } /* Operator.Word */
.highlight .w { color: #000000 } /* Text.Whitespace */
.highlight .mb { color: #008888; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #008888; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #008888; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #008888; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #008888; font-weight: bold } /* Literal.Number.Oct */
.highlight .sc { color: #cc5500 } /* Literal.String.Char */
.highlight .bp { color: #6600cc } /* Name.Builtin.Pseudo */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .il { color: #008888; font-weight: bold } /* Literal.Number.Integer.Long */